@import "tailwindcss";

Portal{
  --font-primary: "Roboto", sans-serif;
  background: #272830;
  color: #dddddd;
}
:root {
  --font-primary: "Roboto", sans-serif;
  background: #272830;
  color: #dddddd;
}
Button {
  background: #dddddd;
  text-wrap: wrap;
}
Button:hover{
  background: #272830;
  color: #fff;
}
p:hover{
  cursor:default;
}
/**{*/
/*  border-color: #ff0000;*/
/*  border-style: solid;*/
/*  border-width: 1px;*/
/*}*/
